@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><b>PetStar</b></h1>
    <p>Professor Rosenclever</p>
    <p>Henrique Costa Gomes</p>
    <p>Henrique Vitral</p>
    <p>João Pedro Boanerges</p>
    <p>Lucas Seabra</p>

</div>
