@{
    ViewData["Title"] = "Sobre o PetStar";
}
<h1>@ViewData["Title"]</h1>

<p>Bem-vindo à PetStar, o lugar onde os pets são as verdadeiras estrelas! Fundada com o amor incondicional pelos animais, a PetStar nasceu do desejo de oferecer um ambiente acolhedor e seguro, onde cada pet é tratado com o carinho e a dedicação que eles merecem.</p>
<p>Aqui na PetStar, acreditamos que os pets são membros da família, e é por isso que nossa missão é proporcionar o melhor em cuidados, produtos e serviços para nossos amigos de quatro patas. Desde ração de alta qualidade até brinquedos e acessórios inovadores, tudo o que você encontra em nossa loja é cuidadosamente selecionado para garantir a saúde e a felicidade do seu pet.</p>
<p>Nosso time é formado por profissionais apaixonados e experientes, prontos para ajudar você a encontrar o que há de melhor para o seu bichinho. Além disso, oferecemos serviços como banho e tosa, consultas veterinárias e adestramento, tudo em um só lugar, para que você tenha a comodidade e a tranquilidade de saber que seu pet está em boas mãos.</p>
<p>Na PetStar, cada visita é uma oportunidade para fortalecer o vínculo entre você e seu pet, e nossa maior satisfação é ver o brilho nos olhos dos nossos clientes peludos e seus donos. Venha nos visitar e descubra porque somos a primeira escolha de quem busca qualidade e cuidado no universo pet.</p>
<p><b>PetStar – Onde o amor pelos pets brilha mais forte!</b></p>
